/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    /* font-family: gorillazFont; */
    scroll-behavior: smooth;
}

@font-face {
    font-family: gorillazFont;
    src: url(Gorillaz1\ Regular.ttf);
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    background-attachment: scroll;
    /* opacity: 0.8; */
}


/*CSS Variables*/
:root {
    --nav-height: 60px;
}

/*Logo and Image*/
#logo img {
    margin: 11px 9px;
    padding: 13px 37px;
    height: 120px;
    width: 120px;
}

/*Navigation bar*/
#navbar {
    display: flex;
    /* margin: auto; */
    align-items: center;

}



/*Navbar: Before*/
/* #navbar::before {
    content: "";
    position: absolute;
    background-color: rgb(10, 219, 38);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
} */

/*Navigation bar: List Styling*/
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style-type: none;

}

#navbar ul li a {
    color: #bbc2bb;
    padding: 20px 12px;
    margin: 20px 14px;
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-family: gorillazFont;

}

#navbar ul li a:hover {
    /* background-color: rgb(164, 17, 4); */
    border-radius: 8px;
    color: rgb(170, 36, 15);
    font-size: 45px;
}



#home h1 {
    color: #bbc2bb;
    font-size: 50px;
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#home p {
    color: rgb(170, 36, 15);
    /* font-family: 'Pacifico', cursive; */
}

#home::before {
    content: "";
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* background: url(Gorillaz1.webp); */
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 15px 15px;
    align-items: center;
    justify-content: center;
    height: 500px;

}

#btn {
    color: #bbc2bb;
    margin: 14px 12px;
    padding: 10px 40px;
    background-color: black;
    /* border: 2px solid yellow; */
    border-radius: 3px;
    cursor: pointer;
    border-radius: 31px;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 3px 3px;
}

#btn:hover {
    color: black;
    background-color: #bbc2bb;

}


/*Services*/
#services {
    display: flex;
    margin: 30px 20px;
}

/* #services::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(record.jpg);
} */
#headingg {
    color: #3b3b33;
    font-size: 5rem;
}

.box {
    border: 2px solid rgb(1, 1, 1);
    padding: 59px;
    margin: 41px;
    background-color: rgb(59, 59, 51);
    border-radius: 50px;
    text-align: center;
}

.box img {
    height: 265px;
    width: 265px;
    margin: auto;
    display: block;
}

.box h1 {
    color: #bbc2bb;
}

.box p {
    font-family: 'Pacifico', cursive;
    color: #bbc2bb;
}



/*Available on*/
#music {
    height: 350px;
}

#available::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: -1;
    opacity: 0.7;
    background: url(piano.jpg);
}

#available {
    display: flex;
    justify-content: center;
    align-items: center;
}

#available img {
    height: 151px;
}

.site {
    padding: 23px;

}
.site:hover {
    height: 200px;
}


/*Contact Us*/
#contact h1{
    margin: 20px 34px;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 14px 22px; */
    padding: 57px 16px;
    margin: 26px 23px;
}
#contact-box form{
    width: 25%;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 540px;
    z-index: -1;
    opacity: 0.5;
    background: url(contact.jpg);
}
#contact-box input{
    width: 200%;
    padding: 12px 8px;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    border: 4px inset black;
    box-shadow: black 1px 2px;
    margin: 4px -151px;
    font-family: 'Times New Roman', Times, serif;
}



.gg-profile{
    top: 42px;
    left: -176px;
}
.gg-mail{
    top: 34px;
    left: -176px;
}

.gg-phone{
    top: 40px;
    left: -176px;
}
.gg-pen{
    top: 33px;
    left: -176px;
}




footer{
    background-color: black;
    color: white;
}



/*Utility Classes*/
.pheading {
    font-size: 2.3rem;
    font-family: 'Pacifico', cursive;
}

.sheading {
    font-size: 1.5rem;
}

.center {
    text-align: center;
}